<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Calculator</title>
    </head>
    <body>
        Калькулятор 
            a = целое число 
            b = целое число
            action = addition, subtraction, multiplicatiion, division

        <p>Результат вычисления:</p>
        <p th:text="${result}"></p>

        <a href="/spring-mvc-app1/first/hello"> Go to page "hello" </a>
        or
        <a href="/spring-mvc-app1/second/exit"> Exit</a>
    </body>
</html>